<div id="Cakes Open" class="tabcontent">
  <h1>Cakes</h1>
  <h2>Cloud-like bites of love!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>White Chocolate Raspberry Cheesecake</h3>
        <img class="food" src="http://lifemadesimplebakes.com/wp-content/uploads/2016/02/White-Chocolate-Raspberry-Cheesecake-6.jpg">
      </div>
      <div class="menuItem">
        <h3>Black Forest</h3>
        <img class="food" src="https://www.lifeloveandsugar.com/wp-content/uploads/2018/07/Black-Forest-Cake3.jpg">
      </div>
      <div class="menuItem">
        <h3>Strawberry Shortcake</h3>
        <img class="food" src="http://www.glorioustreats.com/wp-content/uploads/2018/05/Best-Strawberry-Shortcake-C.jpg">
      </div>
  </section>
</div>
