<div id="Cakes Open" class="tabcontent">
  <h1>Cakes</h1>
  <h2>Cloud-like bites of love!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>White Chocolate Raspberry Cheesecake</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Black Forest</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Strawberry Shortcake</h3>
        <img class="food" src="#">
      </div>
  </section>
</div>
