<div class="tabcontent">
  <h1>Cakes</h1>
  <h2>Cloud-like bites of love!</h2>
    <section id="menu">
      <% for i in (0..5) do %>
        <div>
          <h3><%= @cakes[i].name %></h3>
          <img class="food" src="<%= @cakes[i].img %>">
          <h4><%= @cakes[i].description %></h4>
          <p><%= @cakes[i].price %></p>
        </div>
      <% end %>
    </section>
</div>
