<div id="Cookies Open" class="tabcontent">
  <h1>Cookies</h1>
  <h2>Sweet round perfection, crave worthy!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Oatmeal Chocolate Chip</h3>
        <img class="food" src="http://www.justsotasty.com/wp-content/uploads/2016/08/Soft-and-Chewy-Oatmeal-Chocolate-Chip-Cookies-7.jpg">
      </div>
      <div class="menuItem">
        <h3>White Chocolate Macadamia Nut</h3>
        <img class="food" src="https://www.galonamission.com/wp-content/uploads/2015/12/White-Chocolate-Macadamia-Nut-Cookies-1-1.jpg">
      </div>
      <div class="menuItem">
        <h3>Peanut Butter & Jelly</h3>
        <img class="food" src="https://i.imgur.com/DAurDOo.jpg">
      </div>
  </section>
</div>
