<div id="Cookies Open" class="tabcontent">
  <h1>Cookies</h1>
  <h2>Sweet round perfection, crave worthy!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Oatmeal Chocolate Chip</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>White Chocolate Macadamia Nut</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Peanut Butter & Jelly</h3>
        <img class="food" src="#">
      </div>
  </section>
</div>
