<div id="Crêpes Open" class="tabcontent">
  <h1>Crêpes</h1>
  <h2>Tantalizingly thin layers of delight!</h2>
    <section id="menu">
      <% for i in (0..2) do %>
        <div class="menuItem">
          <h3><%= @crepes[i].name %></h3>
          <img class="food" src="<%= @crepes[i].img %>">
          <h4><%= @crepes[i].description %></h4>
          <p><%= @crepes[i].price %></p>
        </div>
      <% end %>
    </section>
</div>
