<div id="Crêpes Open" class="tabcontent">
  <h1>Crêpes</h1>
  <h2>Tantalizingly thin layers of delight!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Triple Berry with Cream</h3>
        <img class="food" src="https://www.cookingonthefrontburners.com/wp-content/uploads/2016/07/TripleBerryCrepeslemoncurd-683x1024.jpg">
      </div>
      <div class="menuItem">
        <h3>Apple Cinnamon with Caramel</h3>
        <img class="food" src="https://tidymom.net/blog/wp-content/uploads/2018/09/apple-crepes-image-650x974.jpg">
      </div>
      <div class="menuItem">
        <h3>Almond Oat Banana</h3>
        <img class="food" src="https://img.mylot.com/2929082.jpeg">
      </div>
  </section>
</div>
