<div id="Crêpes Open" class="tabcontent">
  <h1>Crêpes</h1>
  <h2>Tantalizingly thin layers of delight!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Triple Berry with Cream</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Apple Cinnamon with Caramel</h3>
      </div>
      <div class="menuItem">
        <h3>Almond Oat Banana</h3>
        <img class="food" src="#">
      </div>
  </section>
</div>
