<div id="Cupcakes Open" class="tabcontent">
  <h1>Cupcakes</h1>
  <h2>Heavenly morsels of goodness!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Chocolate Chip Cookie Dough</h3>
        <img class="food" src="https://www.mybakingaddiction.com/wp-content/uploads/images/Final.jpg">
      </div>
      <div class="menuItem">
        <h3>Red Velvet Cheesecake</h3>
        <img class="food" src="https://therecipecritic.com/wp-content/uploads/2017/01/RedVelvetCupcakes2-667x1000.jpg">
      </div>
      <div class="menuItem">
        <h3>Cinnamon Buttercream Snickerdoodle</h3>
        <img class="food" src="https://i.pinimg.com/originals/4d/87/2f/4d872f218fe890b974685b7e041d6887.jpg">
      </div>
  </section>
</div>
