<div id="Cupcakes Open" class="tabcontent">
  <h1>Cupcakes</h1>
  <h2>Heavenly morsels of goodness!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Chocolate Chip Cookie Dough</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Red Velvet Cheesecake</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Cinnamon Buttercream Snickerdoodle</h3>
        <img class="food" src="#">
      </div>
  </section>
</div>
