<h1>Join Baking Events</h1>
<h2>Click on the Image to Register!</h2>
  <section id="event">
    <% for i in (0..7) do %>
      <div>
        <a href="<%= @events[i]['url'] %>" target="_blank"><img class="events-pic" src="<%= @events[i]['logo']['original']['url'] %>"></a>
        <p><span id="eventName"><%= @events[i]['name']['text'] %> is about... </span><span id="more"><%= @events[i]['description']['text'] %></span></p>
        <button id="readMore" onclick="displayInfo()">Read More</button>
        <hr>
      </div>
    <% end %>
  </section>
