<div class="tablist" id='navbar'>
  <button id="OpenFirst" class="tablinks" onclick="openTab(event, 'Home')">Home</button>
  <button class="tablinks" onclick="openTab(event, 'Muffins')">Muffins</button>
  <button class="tablinks" onclick="openTab(event, 'Cookies')">Cookies</button>
  <button class="tablinks" onclick="openTab(event, 'Cupcakes')">Cupcakes</button>
  <button class="tablinks" onclick="openTab(event, 'Cakes')">Cakes</button>
  <button class="tablinks" onclick="openTab(event, 'Crêpes')">Crêpes</button>
  <button class="tablinks" onclick="openTab(event, 'Events')">Events</button>
  <button class="tablinks" onclick="openTab(event, 'OurPartners')">Our Partners</button>
</div>

<div id="Home" class="tabcontent">
  <h1>Welcome to Honey Heaven</h1>
  <h2>All of our baked goods are made with our <b>special organic</b> white cane sugar. <br> Glazed and dipped in sweet honey goodness!</h2>
</div>

<div id="Muffins" class="tabcontent">
  <h1>Muffins</h1>
  <h2>Handcrafted and baked fresh daily!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Peanut Butter Nutella</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Blueberry & Cranberry</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Glazed Apple Crumb</h3>
        <img class="food" src="#">
      </div>
  </section>
</div>

<div id="Cookies" class="tabcontent">
  <h1>Cookies</h1>
  <h2>Sweet round perfection, crave worthy!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Oatmeal Chocolate Chip</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>White Chocolate Macadamia Nut</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Peanut Butter & Jelly</h3>
        <img class="food" src="#">
      </div>
  </section>
</div>

<div id="Cupcakes" class="tabcontent">
  <h1>Cupcakes</h1>
  <h2>Heavenly morsels of goodness!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Chocolate Chip Cookie Dough</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Red Velvet Cheesecake</h3>
      </div>
      <div class="menuItem">
        <h3>Cinnamon Buttercream Snickerdoodle</h3>
      </div>
  </section>
</div>

<div id="Cakes" class="tabcontent">
  <h1>Cakes</h1>
  <h2>Cloud-like bites of love!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>White Chocolate Raspberry Cheesecake</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Black Forest</h3>
      </div>
      <div class="menuItem">
        <h3>Strawberry Shortcake</h3>
      </div>
  </section>
</div>

<div id="Crêpes" class="tabcontent">
  <h1>Crêpes</h1>
  <h2>Tantalizingly thin layers of delight!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Triple Berry with Cream</h3>
        <img class="food" src="#">
      </div>
      <div class="menuItem">
        <h3>Apple Cinnamon with Caramel</h3>
      </div>
      <div class="menuItem">
        <h3>Almond Oat Banana</h3>
      </div>
  </section>
</div>

<div id="Events" class="tabcontent">
  <h1>Events</h1>
</div>

<div id="OurPartners" class="tabcontent">
  <h1>Our Partners</h1>
</div>
