<div id="Home" class="tabcontent">
  <h1>Welcome to Honey Heaven</h1>
  <h2>All of our baked goods are made with our <b>special</b> white cane sugar. <br> Glazed and dipped in <b>sweet</b> honey goodness!</h2>
  <img id="Logo" src="https://dumielauxepices.net/sites/default/files/honey-clipart-emoji-641652-2912513.png" alt="">
</div>
