<div id="Home" class="tabcontent">
  <h1>Welcome to Honey Heaven</h1>
  <div id="blurb">
  <h2>It all began in the middle of 2019. Two friends, Michael Law and Bemilton Suero shared a sweet tooth and a passion for baking. A month later, the two opened Honey Heaven. The bakery was an instant success thanks to their <b>special</b> white cane sugar! Sweet and delicious, come now!</h2>
  <div id=logoContainer>
    <img id="logo" class="bee" src="https://www.emoji.co.uk/files/mozilla-emojis/animals-nature-mozilla/11515-honeybee.png">
    <img id="logo" src="https://dumielauxepices.net/sites/default/files/honey-clipart-emoji-641652-2912513.png">
  </div>
  </div>
</div>
