<div class="tablist" id='navbar'>
  <button id="OpenFirst" class="tablinks" onclick="openTab(event, 'Home')">Home</button>
  <button class="tablinks" onclick="openTab(event, 'Muffins')">Muffins</button>
  <button class="tablinks" onclick="openTab(event, 'Cookies')">Cookies</button>
  <button class="tablinks" onclick="openTab(event, 'Cupcakes')">Cupcakes</button>
  <button class="tablinks" onclick="openTab(event, 'Cakes')">Cakes</button>
  <button class="tablinks" onclick="openTab(event, 'Crêpes')">Crêpes</button>
  <button class="tablinks" onclick="openTab(event, 'Events')">Events</button>
  <button class="tablinks" onclick="openTab(event, 'OurPartners')">Our Partners</button>
</div>

<div id="Home" class="tabcontent">
  <h1>Welcome to Honey Heaven</h1>
  <h2>All of our baked goods are made with our special white cane sugar! Glazed and dipped in sweet honey goodness!</h2>
</div>

<div id="Muffins" class="tabcontent">
  <h1>Muffins</h1>
</div>

<div id="Cookies" class="tabcontent">
  <h1>Cookies</h1>
</div>

<div id="Cupcakes" class="tabcontent">
  <h1>Cupcakes</h1>
</div>

<div id="Cakes" class="tabcontent">
  <h1>Cakes</h1>
</div>

<div id="Crêpes" class="tabcontent">
  <h1>Crêpes</h1>
</div>

<div id="Events" class="tabcontent">
  <h1>Events</h1>
</div>

<div id="OurPartners" class="tabcontent">
  <h1>Our partners</h1>
</div>
