<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Honey Heaven</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="https://dumielauxepices.net/sites/default/files/honey-clipart-emoji-641652-2912513.png" type="image" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
  </head>
  <body>

    <%= yield %>
  </body>
  <script src="main.js" charset="utf-8"></script>
</html>
