<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Herbal Bakery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="https://www.stickpng.com/assets/thumbs/58bf1e5fe443f41d77c734b2.png" type="image" sizes="16x16">
  </head>
  <body>

    <%= yield %>
  </body>
  <script src="main.js" charset="utf-8"></script>
</html>
