<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Honey Heaven</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="https://dumielauxepices.net/sites/default/files/honey-clipart-emoji-641652-2912513.png" type="image" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="tablist" id='navbar'>
      <a href="/"><button class="tablinks">Home</button></a>
      <a href="muffins"><button class="tablinks">Muffins</button></a>
      <a href="cookies"><button class="tablinks">Cookies</button></a>
      <a href="cupcakes"><button class="tablinks">Cupcakes</button></a>
      <a href="cakes"><button class="tablinks">Cakes</button></a>
      <a href="crepes"><button class="tablinks">Crêpes</button></a>
      <a href="events"><button class="tablinks">Events</button></a>
      <a href="partners"><button class="tablinks">Our Partners</button></a>
    </div>

    <%= yield %>
  </body>
  <script src="main.js" charset="utf-8"></script>
</html>
