<div id="Muffins Open" class="tabcontent">
  <h1>Muffins</h1>
  <h2>Handcrafted and baked fresh daily!</h2>
    <section id="menu">
      <div class="menuItem">
        <h3>Peanut Butter Nutella</h3>
        <img class="food" src="https://www.somethingswanky.com/wp-content/uploads/2016/06/DSC_4179-620x936.jpg">
      </div>
      <div class="menuItem">
        <h3>Blueberry & Cranberry</h3>
        <img class="food" src="https://tastykitchen.com/recipes/wp-content/uploads/sites/2/2012/02/Blueberry-and-Cranberry-Crumb-Muffin-410x615.jpg">
      </div>
      <div class="menuItem">
        <h3>Glazed Apple Crumb</h3>
        <img class="food" src="https://www.katheats.com/wp-content/uploads/2015/09/Glazed-Apple-Crumb-Muffins-11.jpg">
      </div>
  </section>
</div>
