<div class="tabcontent">
  <h1>Our Partners</h1>
  <h2>Part of the Honey Family!</h2>
    <section id="partner">
      <div>
        <a href="https://peterluger.com/" target="_blank"><img id="partners-pic" src="https://i.ytimg.com/vi/7LJT8ztIOAE/maxresdefault.jpg"></a>
        <h4>Peter Luger Steak House</h4>
        <p>Delicious Aged Beef, served in a German Beer Hall Setting</p>
      </div>
      <div>
        <a href="https://www.yearup.org/" target="_blank"><img id="partners-pic" src="https://www.carlsonmc.com/wp-content/uploads/2016/02/Year-Up-logo-n-400-250.jpg"></a>
        <h4>YearUp</h4>
        <p>Closing the Opportunity Divide for Youths</p>
      </div>
    </section>
</div>
