<h1>Welcome to the Honey Heaven Family!</h1>
<h2>Thank you for subscribing to our newsletter.</h2>
<div id=logoContainer>
  <img id="logo" class="bee" src="https://www.emoji.co.uk/files/mozilla-emojis/animals-nature-mozilla/11515-honeybee.png">
  <img id="logo" src="https://dumielauxepices.net/sites/default/files/honey-clipart-emoji-641652-2912513.png">
</div>
