body {
  background-color: whitesmoke;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 64px;
  font-weight:bolder;
  text-align: center;
  text-shadow: 3px 3px #FFCC4D;
  margin: 15px;
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  margin-top: 4px;
}

h3 {
  font-family: 'Caveat', cursive;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-shadow: 1.5px 1.5px #FFCC4D;
  margin-top: 5px;
  height: 55px;
}

h4 {
  font-family: 'Caveat', cursive;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
  margin: 5px;
  text-shadow: 1px 1px #FFCC4D;
}

p {
  font-family: 'Caveat', cursive;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
  margin: 5px;
  padding-top: 8px;
}

.eventLink {
  text-decoration: none;
  text-align: center;
}

#logo {
  width: 250px;
  height: 250px;
}

#logoContainer {
  display: grid;
  grid-template: 250px / 250px 250px;
  justify-content: center;
}

.bee {
  transform: rotate(45deg);
}

#navbar {
  text-align: center;
  margin: 0 auto;
  width: 96%;
}

.tablist {
  overflow: hidden;
  border-radius: 22px;
  border: 1px solid black;
  background-color: #FFCC4D;
}

.tablist button {
  background-color: inherit;
  float: none;
  margin: 0 auto;
  border: none;
  border-radius: 22px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  font-weight: bolder;
}

.tablist button:hover {
  background-color: #fac032;
}

.tablist button.active {
  background-color: #f7b616;
}

.tabcontent {
  padding: 6px 12px;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#topButton {
  display: none;
  background-color: #F5900C;
  width: 50px;
  height: 50px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 10px;
  position: fixed;
  bottom: 35px;
  right: 30px;
  transition: background-color .4s;
  z-index: 99;
}

#topButton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-size: 28px;
  line-height: 50px;
  color: #fff;
}

#topButton:hover {
  cursor: pointer;
  background-color: #333;
}

#menu {
  display: grid;
  grid-template: 550px 550px / 305px 305px 305px;
  grid-gap: 3.5%;
  justify-content: center;
  padding-bottom: 100px;
}

.food {
  display: block;
  margin-top: 40px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  padding: 1px;
  border-radius: 12px;
  border: 1px solid #f7b616;
  background-color: black;
}

#event {
  display: grid;
  grid-template: auto auto auto auto / 30% 30%;
  grid-gap: 1%;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.events-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  border: 1px solid #f7b616;
  background-color: black;
}

.eventLink {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: 'Caveat', cursive;
}

hr {
  width: 85%;
}

#more {
  display: none;
}

#readMore {
  border: none;
  border-radius: 10px;
  background-color: #fac032;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Caveat', cursive;
  padding: 6px;
}

#readMore:hover {
  background-color: #f7b616;
}

#eventName {
  text-shadow: 1px 1px #FFCC4D;
  padding-top: 10px;
  padding-bottom: 10px;
}

#blurb {
  display: block;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}

#email {
  display: block;
  padding-top: 8px;
  padding-right: 10px;
  float: right;
  width: 50px;
  height: 50px;
  outline: none;
}

form {
  display: block;
  float: right;
  margin-top: -30px;
  border-radius: 3px;
  transition-duration: 0.5s;
}

input[type=text] {
  width: 165px;
}

input[type=text]:focus {
  border: 2px solid black;
}

input:focus {
  outline: 0;
}

#send {
  font-family: 'Caveat', cursive;
  font-size: 13px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: white;
}

#send:hover {
  border: 2px solid black;
}

#partner {
  display: grid;
  grid-template: auto / 35% 35%;
  justify-content: center;
  grid-gap: 3%;
}

#partners-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 250px;
  border-radius: 12px;
  border: 1px solid #f7b616;
  background-color: black;
}
