<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Honey Heaven!</h1>
    <p>Thank you for joining the Honey family.<br></p>
    <p>Check your email constantly for our rotating menu.</p>
    <p>Please visit us soon!</p>
  </body>
</html>
